*{
	padding:0px;
	margin:0px;
	font-family:Verdana;
}
body{

	background-image:url("C:/Users/amarj/Desktop/monAPP/images/werkansicht-1.jpg"); 
	 background-size:cover;
	
}
header{
	background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,86,168,1) 26%, rgba(0,212,255,1) 100%);
	height:170px;
	color:white;

}
header .titre1{
	display:flex;
	margin-left:10px;
	
}
header .titre2{
	margin-left:50px;
	margin-top:20px;
	
}
header #semititre{
	margin-left:10px;
	background:white;
	color: rgba(0,212,255,1);
	border-radius:10px;
	
}
header .imgheader{
	margin-top:-120px;
	margin-left:1020px;

}
.form1{
	 background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	width:500px;
    margin-left:430px;
	text-align:center;
	border-radius:40px;
	height:390px;
	
}

.form1 .convous{
	margin-top:25px;
		text-align:center;
	background-color:#a8eb12;
	color:white;
	font-size:40px;
	border-radius:16px;
}
.form1 input{
	margin-top:50px;
	width:300px;
	height:40px;
	display:flex;
	margin-bottom:30px;
	margin-left:94px;
	border:3px solid #87CEFA;
	border-radius:10px;
	transition:0.5s;
}
.form1 .oublier{
   margin-top:20px;
	transition:0.5s;
}
.form1 button{
	margin-top:20px;
	width:100px;
	height:30px;
	border-radius:10px;
	 font-family:serif;
color:white;
	font-size:16px;
	transition:0.5s;
}
.buttonform{
	display:flex;
	margin-left:139px;
	
}
#inscrire{
	background-color:#B0B0B0;
	margin-left:15px;
}

#connecter{
	background-color:#a8eb12;
	
}
.form1 input:focus{
	transform:scale(1.1);
	background:#F4F6F7;

}
.form1 button:hover{
	cursor:pointer;
	transform:scale(1.1);
}
.form1 .oublier:hover{
	transform:scale(1.1);
	
}